<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title></title>
	<!-- Latest compiled and minified CSS -->

	<!-- Adding ajax and other cdn required -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="{% static 'master.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Above Added by Abhi -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{%static "css/master.css"%}" />
</head>

<body>


	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">



			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'index'%}"> <b>Home</b></a>
			</div>


			<div class="collapse navbar-collapse" id="topNavBar">
				<ul class="nav navbar-nav">

					<li><a class="navbar-link" href="{% url 'basic_app:contact_info'%}">
							<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;Contact Us</a>
					</li>
					<li><a class="navbar-link" href="{% url 'basic_app:lectures'%}">
							<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>&nbsp;Events</a></li>

					{% if request.user.is_authenticated %}
					{% if user.is_superuser%}

					<li><a class="navbar-link" href="{% url 'basic_app:room_booking'%}">
							<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>&nbsp;Room Booking</a>
					</li>
					<li><a class="navbar-link" href="{% url 'basic_app:expenses'%}">
							<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>&nbsp;Expenses</a>
					</li>
					{% endif %}

					<li><a class="navbar-link" href="{% url 'basic_app:logout'%}">
							<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout</a>
					</li>

					<li><a class="nav navbar-nav mr-auto" href="{% url 'basic_app:login'%}">
							<span aria-hidden="true"></span> <b> Welcome {{user.username}} </b></a>
					</li>


					{% else %}

					<li><a class="navbar-link" href="{% url 'basic_app:login'%}">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Login</a>
					</li>

					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="glyphicon glyphicon-user navbar-link" href="{% url 'admin:index'%}"> Admin</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">



		{% block body_block %}

		{% endblock %}

	</div>
	<br>
	<center style="margin-right: 8%;">
		<!-- <img src="../static/images/bits.png" width="10%" height="10%" alt=""> -->
		<img src="../../static/images/bits.png" width="10%" height="10%" alt="">
		&nbsp;
		&nbsp;
		&nbsp;
		&nbsp;
		<!-- <img src="../static/images/logo.jpg" width="10%" height="10%" alt=""> -->
		<img src="../../static/images/logo.jpg" width="10%" height="10%" alt="">
	</center>




</body>

</html>